<div class="alert alert-warning">
  Product Number: {{ products().length }}
  @if (total() !== null) {
    / {{ total() }}
  }
</div>

<div class="row">
  @for (product of products(); track trackById($index, product)) {
    <div class="col-4">
      <img
        class="rounded-circle"
        [src]="product.thumbnail"
        width="150"
        height="150"
      />
      {{ product.title }}
    </div>
  }
</div>

@if (total() === null || products().length < total()!) {
  <button class="btn btn-primary"
          (click)="loadMore()"
          [disabled]="productResource.isLoading()">
    Load More Products
    @if (productResource.isLoading()) {
      <span class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"></span>
    }
  </button>
} @else {
  <div class="alert alert-info">All products loaded!</div>
}
